<div class="bg-white border" *ngIf="(photo$ | async) as photo">
    <div class="row">
        <div class="col-lg-8">
            <app-photo [url]="photo.url" [description]="photo.description"></app-photo>
        </div>

        <div class="col-lg-4 p-4">
            <small>
                <p class="text-left break-word">{{ photo.description }}</p>
                <hr>
            </small>

            <ap-photo-comments
                *ngIf="photo.allowComments; else warning" 
                [photoId]="photoId">
            </ap-photo-comments>
            <ng-template #warning>
                <p>Usuário desabilitou comentários para essa foto</p>
            </ng-template>
        </div>
    </div>
</div>